.body {
    background-color: #f0f0f0;
}

.book_card {
    width: 150px;
    height: fit-content;
    display: flex;
    flex-direction: column; /* Susun elemen ke bawah */
    justify-content: center; /* Pusatkan secara vertikal */
    align-items: center; /* Pusatkan secara horizontal */
    text-align: center; /* Pusatkan teks jika ada */
    overflow: hidden;
    
}
.book_card a
{
    text-decoration: none;

}

.book_cover {
   width: 130px;
   height: calc(130px * 1.5);
   object-fit: cover;
}

.book_container
{
    background-color: white;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 0px 3px rgba(0, 0, 0, 0.073);
}

.book_title p
{
    color: rgb(37, 37, 37);
}

.main_container
{
    min-height: 100vh;
}

.comtainer
{
    width: 75vw;

}

.login_card
{
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px;
    background-color: white;
    width: 400px;
    height: max-content ;
}

.login_container
{
    display: flex;
    
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.hide
{
    display: none;

}

.input_form {
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: 2.5px solid rgb(119, 119, 119);
    transition: all 0.3s ease;
}

.input_form:focus {
    border-color: black;    
    outline: none;
}

.input_form:active {
    box-shadow: 0 0 8px 2px rgba(0, 0, 255, 0.6); 
    border-color: black;
    border-width: 3px;
}

.input_form:not(:active) {
    transition: box-shadow 2s ease; 
}   
.sign_form
{
    display: flex;
    justify-content: center;
    color: rgb(84, 84, 84);
    margin-bottom: 20px;
}

.sign_button {
    background-color: rgb(0, 85, 255);
    color: white;
    width: 100%;
    border: none;
    height: 35px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 6px;
 }
 .password-container {
            position: relative;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .password-container input {
            width: 100%;
            padding-right: 40px;
        }
        .password-container i {
            position: absolute;
            right: 10px;
            cursor: pointer;
            color: #aaa;
        }
        .password-container i:hover {
            color: #555;
        }

.input_password 
{
    margin-bottom: 0px;
}

